version: "3.8"

services:
  app:
    image: ingadivra/express-pipeline:latest
    container_name: express-app
    ports:
      - "8080:8080"
    restart: always

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30
    restart: always
